
#map-canvas {
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
	padding-right: 20%;
	padding-left: 10%;
    display:block;
    overflow:auto;
}
.list-group{
  position:absolute;
  top:0;
  display:block;
  overflow:auto;
  margin-top:5px;
  width:350px;
  height: 820px;
}
.media{
	background: #fff;
}
.venueInfowindow{
  max-width: 200px;
}

.venueInfowindow .venueName{
  font-size:18px;
  font-weight: 400;
}

.venueInfowindow .venueRating{
  margin-left:5px;
}

.venueInfowindow .glyphicon{
  margin-right:5px;
}