
#map-canvas {
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
	padding-right: 20%;
	padding-left: 10%;
    display:block;
    overflow:auto;
}

.venu-group{
  position:absolute;
  top:50px;
  display:block;
  overflow:auto;
  width:350px;
  height: 820px;
  left: 40px;
  z-index: 1;
}
.media{
	background: #fff;
}
.venueInfowindow{
  max-width: 300px;
}

.venueInfowindow .venueName{
  font-size:18px;
  font-weight: 400;
}

.venueRating{
  float:left;
  clear:right;
  background-color: #338599;
}

.left-inner-addon {
    position: relative;
}
.search-bar {
    position: absolute;
    top: 10px;
    z-index: 1;
	left: 40px;
}
.bgimg{
	max-width: 250px !important;
}
